# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media files
media/
!media/.gitkeep
media/hls/
*.mp4
*.ts
*.m3u8
*.jpg
*.jpeg
*.png
*.gif

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store
.AppleDouble
.LSOverride

# Archivos específicos del proyecto
staticfiles/
backup.json