{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Panel Editar Video</title>
    <link rel="stylesheet" href="{% static 'videos/css/edit_video.css' %}">
</head>

<body>
    <header>Editar Video</header>
    <main>
        <h1>Editar "{{ video.title }}"</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.title.errors }}
            <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
            {{ form.title }}

            {{ form.videofile.errors }}
            {{ form.videofile }} <!-- Aquí NO pones la etiqueta, solo el widget -->

            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
        </form>
        <a href="{% url 'upload' %}" class="btn-link">Volver</a>
    </main>
</body>

</html>