{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Reproductor de Medios - Carrusel</title>
    <link rel="stylesheet" href="{% static 'videos/css/home.css' %}">
</head>

<body>
    <div class="media-title" id="media-title"></div>
    <div id="media-container">
        <video id="video-player" autoplay muted playsinline style="display:none;"></video>
        <img id="image-player" style="display:none;">
    </div>

    {{ media_items|json_script:"media-data" }}

    <script>
        const mediaList = JSON.parse(document.getElementById('media-data').textContent);

        const videoPlayer = document.getElementById('video-player');
        const imagePlayer = document.getElementById('image-player');
        const titleDiv = document.getElementById('media-title');

        let currentIndex = 0;

        function playMedia(index) {
            if (!mediaList.length) return;

            const media = mediaList[index];
            titleDiv.textContent = media.title;

            if (media.media_type === 'video') {
                imagePlayer.style.display = 'none';
                videoPlayer.src = media.file;
                videoPlayer.style.display = 'block';
                videoPlayer.play();
            } else if (media.media_type === 'image') {
                videoPlayer.pause();
                videoPlayer.style.display = 'none';
                imagePlayer.src = media.file;
                imagePlayer.style.display = 'block';
                setTimeout(() => {
                    currentIndex = (currentIndex + 1) % mediaList.length;
                    playMedia(currentIndex);
                }, 5000);
            }
        }

        videoPlayer.addEventListener('ended', () => {
            currentIndex = (currentIndex + 1) % mediaList.length;
            playMedia(currentIndex);
        });

        // Inicia el primer media
        playMedia(currentIndex);
    </script>
</body>

</html>